<!DOCTYPE html>
<html>
    <head>
        <!-- meta-->
        {{ seo_pro:meta }}

        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

        <!-- files and scripts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Noto+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap" rel="stylesheet">
        <script defer src="https://code.iconify.design/iconify-icon/3.0.0/iconify-icon.min.js"></script>
        {{ vite src="resources/js/site.js|resources/css/site.scss" }}

        <!-- Google Tag Manager -->

        <!-- Microsoft Clarity -->
        
        <!-- favicon package -->
        <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
        <link rel="shortcut icon" href="/favicon/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content="Under Lyme Tree Care" />
        <link rel="manifest" href="/favicon/site.webmanifest" />
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
  
        <!-- End Google Tag Manager (noscript) -->

        {{ partial:patterns/header }}


        <main>

            {{ template_content }}

        </main>

        {{ partial:patterns/footer }}

    </body>

</html>
