<figure class="block-quote-001 break">
  <blockquote class="block-quote-001__quote">
    <p>"{{ quote }}"</p>
  </blockquote>

  <figcaption class="block-quote-001__author">
    {{ if image }}
      {{ image }}
        <img
          src="{{ url }}"
          alt="{{ alt ?? client_name }}"
          class="block-quote-001__image"
        >
      {{ /image }}
    {{ /if }}

    <div class="block-quote-001__details">
      <p class="block-quote-001__name">{{ client_name }}</p>
      <p class="block-quote-001__meta">{{ job_title }}, {{ company }}</p>
    </div>
  </figcaption>
</figure>
