<section class="cta-001 boxed">
  <div class="container cta-001__inner{{ if theme && theme != 'theme-light' }} {{ theme }}{{ /if }}">
    <div class="section-intro section-intro--center">
      {{ partial:section_intro_heading level="2" title_modifier="cta" }}

      {{ if intro }}
        <p class="section-intro__description section-intro__description--large">
          {{ intro }}
        </p>
      {{ /if }}

      {{ if button }}
        <div class="button-group button-group--center">
          {{ button }}
            <a href="{{ url }}" class="button button--{{ style }}">
              {{ label }}
            </a>
          {{ /button }}
        </div>
      {{ /if }}
    </div>
  </div>
</section>
