<section class="hero-002{{ if theme && theme != 'theme-light' }} {{ theme }}{{ /if }}">
  <div class="container hero-002__inner">
    <div class="section-intro">
      {{ partial:section_intro_heading level="1" }}

      {{ if intro }}
        <p class="section-intro__description section-intro__description--large">
          {{ intro }}
        </p>
      {{ /if }}

      {{ if buttons }}
        <div class="button-group">
          {{ buttons }}
            <a href="{{ url }}" class="button button--{{ style }}">
              {{ label }}
            </a>
          {{ /buttons }}
        </div>
      {{ /if }}
    </div>

    {{ if image }}
      {{ image }}
        <img src="{{ url }}" alt="{{ alt ?? title }}" class="hero-002__image">
      {{ /image }}
    {{ /if }}
  </div>
</section>
