<section class="image-cards{{ if theme && theme != 'theme-light' }} {{ theme }}{{ /if }}">
  <div class="container image-cards__inner">
    <div class="section-intro section-intro--center">
      {{ partial:section_intro_heading level="2" }}

      {{ if intro }}
        <p class="section-intro__description section-intro__description--large">
          {{ intro }}
        </p>
      {{ /if }}
    </div>

    {{ if items }}
      <div class="image-cards__grid image-cards__grid--{{ items_per_row }}">
        {{ items }}
          <article class="image-cards-card">
            {{ if url }}
              <a href="{{ url }}" class="image-cards-card__link">
            {{ /if }}
                {{ image }}
                  <img src="{{ url }}" alt="{{ alt ?? title }}" class="image-cards-card__image">
                {{ /image }}

                <div class="image-cards-card__content">
                  <h3 class="image-cards-card__title">{{ title }}</h3>

                  {{ if text }}
                    <p class="image-cards-card__text">{{ text }}</p>
                  {{ /if }}
                </div>
            {{ if url }}
              </a>
            {{ /if }}
          </article>
        {{ /items }}
      </div>
    {{ /if }}

    {{ if button }}
      <div class="button-group button-group--center">
        {{ button }}
          <a href="{{ url }}" class="button button--{{ style }}">
            {{ label }}
          </a>
        {{ /button }}
      </div>
    {{ /if }}
  </div>
</section>
