<section class="logos{{ if theme && theme != 'theme-light' }} {{ theme }}{{ /if }}">
  <div class="container logos__inner">
    {{ if text }}
      <p class="logos__text">{{ text }}</p>
    {{ /if }}

    {{ if items }}
      <div class="logos__grid">
        {{ items }}
          <div class="logos__item"{{ if logo_height }} style="--logos-max-height: {{ logo_height }}rem;"{{ /if }}>
            {{ if url }}
              <a href="{{ url }}" class="logos__link" aria-label="{{ name ?? 'Logo link' }}">
                {{ logo }}
                  <img src="{{ url }}" alt="{{ alt ?? name ?? 'Logo' }}" class="logos__image">
                {{ /logo }}
              </a>
            {{ else }}
              <div class="logos__media">
                {{ logo }}
                  <img src="{{ url }}" alt="{{ alt ?? name ?? 'Logo' }}" class="logos__image">
                {{ /logo }}
              </div>
            {{ /if }}
          </div>
        {{ /items }}
      </div>
    {{ /if }}
  </div>
</section>
