<section class="media-001{{ if theme && theme != 'theme-light' }} {{ theme }}{{ /if }}">
  <div class="container media-001__inner">
    <div class="section-intro section-intro--center">
      {{ partial:section_intro_heading level="2" }}

      {{ if intro }}
        <p class="section-intro__description section-intro__description--large">
          {{ intro }}
        </p>
      {{ /if }}
    </div>

    <figure class="media-001__figure">
      <div class="media-001__frame">
        {{ if media_source == "upload" && media_asset }}
          {{ media_asset }}
            {{ if is_video }}
              <video class="media-001__video" src="{{ url }}" controls playsinline preload="metadata"></video>
            {{ else }}
              <img src="{{ url }}" alt="{{ alt ?? title }}" class="media-001__image">
            {{ /if }}
          {{ /media_asset }}
        {{ elseif media_source == "embed" && embed_type == "code" && embed_code }}
          <div class="media-001__embed">
            {{ embed_code }}
          </div>
        {{ elseif media_source == "embed" && video_url }}
          <iframe
            class="media-001__embed"
            src="{{ video_url | embed_url }}"
            title="{{ title }}"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        {{ else }}
          <div class="media-001__placeholder"></div>
        {{ /if }}
      </div>

      {{ if caption }}
        <figcaption class="media-001__caption">{{ caption }}</figcaption>
      {{ /if }}
    </figure>
  </div>
</section>
