<section class="stats-001{{ if theme && theme != 'theme-light' }} {{ theme }}{{ /if }}">
  <div class="container stats-001__inner">
    <div class="section-intro section-intro--center">
      {{ partial:section_intro_heading level="2" }}

      {{ if intro }}
        <p class="section-intro__description section-intro__description--large">
          {{ intro }}
        </p>
      {{ /if }}
    </div>

    {{ if stats }}
      <div class="stats-001__grid">
        {{ stats }}
          <article class="stats-001__card">
            <p class="stats-001__value">{{ value }}</p>
            <p class="stats-001__label">{{ label }}</p>
          </article>
        {{ /stats }}
      </div>
    {{ /if }}
  </div>
</section>
