<section class="testimonials{{ if theme && theme != 'theme-light' }} {{ theme }}{{ /if }}">
  <div class="container testimonials__inner">
    <div class="section-intro section-intro--center">
      {{ partial:section_intro_heading level="2" }}

      {{ if intro }}
        <p class="section-intro__description section-intro__description--large">
          {{ intro }}
        </p>
      {{ /if }}
    </div>

    {{ if testimonials }}
      <div class="testimonials__grid testimonials__grid--{{ testimonials_per_row }}">
        {{ testimonials }}
          <figure class="testimonials-card">
            <blockquote class="testimonials-card__quote">
              <p>{{ quote }}</p>
            </blockquote>

            <figcaption class="testimonials-card__author">
              <p class="testimonials-card__name">{{ name }}</p>

              {{ if details }}
                <p class="testimonials-card__details">{{ details }}</p>
              {{ /if }}
            </figcaption>
          </figure>
        {{ /testimonials }}
      </div>
    {{ /if }}

    {{ if button }}
      <div class="button-group button-group--center">
        {{ button }}
          <a href="{{ url }}" class="button button--{{ style }}">
            {{ label }}
          </a>
        {{ /button }}
      </div>
    {{ /if }}
  </div>
</section>
