<section class="timeline-001{{ if theme && theme != 'theme-light' }} {{ theme }}{{ /if }}">
  <div class="container timeline-001__inner">
    <div class="section-intro section-intro--center">
      {{ partial:section_intro_heading level="2" }}

      {{ if intro }}
        <p class="section-intro__description section-intro__description--large">
          {{ intro }}
        </p>
      {{ /if }}
    </div>

    {{ if items }}
      <div class="timeline-001__items">
        {{ items }}
          <article class="timeline-001__item">

            <p class="timeline-001__label">{{ label }}</p>

            <div class="timeline-001__marker" aria-hidden="true">
              <span class="timeline-001__marker-dot"></span>
            </div>

            <div class="timeline-001__content">
              <h3 class="timeline-001__title">{{ title }}</h3>
              <p class="timeline-001__text">{{ text }}</p>
            </div>
          </article>
        {{ /items }}
      </div>
    {{ /if }}
  </div>
</section>
