@use 'sass:map';

$color-steps: (
  50: (l: 98.901%, c: calc(c * 0.1)),
  100: (l: 96%, c: calc(c * 0.3)),
  200: (l: 88%, c: calc(c * 0.7)),
  300: (l: 78%, c: c),
  400: (l: 66%, c: c),
  500: (l: 56%, c: c),
  600: (l: 43.657%, c: c),
  700: (l: 32%, c: c),
  800: (l: 24%, c: c),
  900: (l: 15%, c: c),
);

@mixin color-scale($name, $base) {
  @each $step, $values in $color-steps {
    $lightness: map.get($values, l);
    $chroma: map.get($values, c);

    --color-#{$name}-#{$step}: oklch(
      from var(#{$base})
      #{$lightness}
      #{$chroma}
      h
    );
  }
}

:root {
  /* typography */
  --font-family-primary: 'Noto Serif', serif;
  --font-family-secondary: 'Montserrat', sans-serif;
  --font-family-tertiary: 'Montserrat', sans-serif;

  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-regular: 400;

  --line-height-2xs: 0.9;
  --line-height-xs: 1.1;
  --line-height-sm: 1.2;
  --line-height-md: 1.6; 
  --line-height-lg: 1.8;

  /* heading font sizes: https://www.fluid-type-scale.com/calculate?minFontSize=18&minWidth=320&minRatio=1.125&maxFontSize=22&maxWidth=1696&maxRatio=1.25&steps=6%2C5%2C4%2C3%2C2%2C1%2Ctitle&baseStep=5&prefix=h&useContainerWidth=false&includeFallbacks=false&useRems=true&remValue=16&decimals=2&previewFont=Inter&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground&previewWidth=900 */
  --h6: clamp(1rem, 0.12vi + 0.98rem, 1.1rem);
  --h5: clamp(1.13rem, 0.29vi + 1.07rem, 1.38rem);
  --h4: clamp(1.27rem, 0.53vi + 1.16rem, 1.72rem);
  --h3: clamp(1.42rem, 0.84vi + 1.26rem, 2.15rem);
  --h2: clamp(1.6rem, 1.26vi + 1.35rem, 2.69rem);
  --h1: clamp(1.8rem, 1.81vi + 1.44rem, 3.36rem);
  --h-title: clamp(2.03rem, 2.52vi + 1.52rem, 4.2rem);

  /* body font sizes: */ 
  --text-2xs: clamp(0.61rem, -0.04cqi + 0.62rem, 0.58rem);
  --text-xs: clamp(0.69rem, 0cqi + 0.69rem, 0.69rem);
  --text-sm: clamp(0.78rem, 0.06cqi + 0.76rem, 0.83rem);
  --text-md: 0.875rem;
  --text-lg: clamp(0.98rem, 0.25cqi + 0.93rem, 1.2rem);
  --text-xl: clamp(1.11rem, 0.39cqi + 1.03rem, 1.44rem);

    /* colors */
  --color-primary-base: oklch(43.657% 0.09585 144.844);
  --color-neutral-base: oklab(98.901% 0.00119 0.00714);
  --color-info-base: oklch(from var(--color-primary-base) l c 275);
  --color-success-base: oklch(from var(--color-primary-base) l c 130);
  --color-warning-base: oklch(from var(--color-primary-base) l c 90);
  --color-danger-base: oklch(from var(--color-primary-base) l c 35);

  @include color-scale('primary', '--color-primary-base');
  @include color-scale('neutral', '--color-neutral-base');
  @include color-scale('info', '--color-info-base');
  @include color-scale('success', '--color-success-base');
  @include color-scale('warning', '--color-warning-base');
  @include color-scale('danger', '--color-danger-base');

  --test-col: oklch(95.982% 0.01788 124.165);

  --color-white: #ffffff;
  --color-white-a5: oklch(from var(--color-white) l c h / 0.05);
  --color-white-a10: oklch(from var(--color-white) l c h / 0.10);
  --color-white-a20: oklch(from var(--color-white) l c h / 0.20);
  --color-white-a30: oklch(from var(--color-white) l c h / 0.30);
  --color-white-a40: oklch(from var(--color-white) l c h / 0.40);
  --color-white-a50: oklch(from var(--color-white) l c h / 0.50);
  --color-white-a60: oklch(from var(--color-white) l c h / 0.60);
  --color-white-a70: oklch(from var(--color-white) l c h / 0.70);
  --color-white-a80: oklch(from var(--color-white) l c h / 0.80);
  --color-white-a90: oklch(from var(--color-white) l c h / 0.90);

  --color-black: var(--color-neutral-900);
  --color-black-a5: oklch(from var(--color-black) l c h / 0.05);
  --color-black-a10: oklch(from var(--color-black) l c h / 0.10);
  --color-black-a20: oklch(from var(--color-black) l c h / 0.20);
  --color-black-a30: oklch(from var(--color-black) l c h / 0.30);
  --color-black-a40: oklch(from var(--color-black) l c h / 0.40);
  --color-black-a50: oklch(from var(--color-black) l c h / 0.50);
  --color-black-a60: oklch(from var(--color-black) l c h / 0.60);
  --color-black-a70: oklch(from var(--color-black) l c h / 0.70);
  --color-black-a80: oklch(from var(--color-black) l c h / 0.80);
  --color-black-a90: oklch(from var(--color-black) l c h / 0.90);

  /* borders and radii */
  --border-width-thin: 1px;
  --border-width-medium: 2px;
  --border-width-thick: 4px;
  --border-radius-none: 0;
  --border-radius-sm: 0.125rem;
  --border-radius-md: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-circle: 50%;

  /* spacing */
  --section-block-padding: clamp(5rem, 4.0698rem + 4.6512vw, 9rem);
  --section-inline-padding: clamp(1rem, 6.977vw + -0.395rem, 7rem);
  --space-3xs: clamp(0.1875rem, 0.175rem + 0.0625vw, 0.25rem);
  --space-2xs: clamp(0.375rem, 0.35rem + 0.125vw, 0.5rem);
  --space-xs: clamp(0.5625rem, 0.525rem + 0.1875vw, 0.75rem);
  --space-sm: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
  --space-md: clamp(1.125rem, 1.05rem + 0.375vw, 1.5rem);
  --space-lg: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
  --space-xl: clamp(2.25rem, 2.1rem + 0.75vw, 3rem);
  --space-2xl: clamp(3rem, 2.8rem + 1vw, 4rem);
  --space-3xl: clamp(4.5rem, 4.2rem + 1.5vw, 6rem);
  --grid-gap: clamp(1rem, 1vw + 0.8rem, 2rem);

  @media (width >= 768px) {
      --text-md: 1rem;
  }

}
