.error-404 {
  display: flex;
  align-items: center;
}

.error-404__inner {
  text-align: center;
  gap: var(--space-2xl);
}

.error-404__content {
  max-width: 42rem;
}

.error-404__code {
  font-size: calc(var(--display-3xl) * 2);
}

.error-404__title {
  font-size: var(--display-lg);
}

.error-404__description {
  margin-block-start: var(--space-md);
}

.error-404 .button {
  margin-block-start: var(--space-lg);
}