.block-quote-001 {
  display: grid;
  gap: var(--space-lg);
  justify-items: center;
  padding-block: var(--space-2xl);
  border-block: 1px solid var(--theme-border-subtle);
}

.block-quote-001__quote {
  color: var(--theme-text-muted);
  font-size: var(--text-xl);
  max-width: 56ch;
  text-align: center;
}

.block-quote-001__author {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
}

.block-quote-001__image {
  aspect-ratio: 1;
  border-radius: var(--border-radius-circle);
  object-fit: cover;
  height: clamp(3.5rem, 3.3rem + 1vw, 4rem);
  width: auto;
}

.block-quote-001__name {
  color: var(--theme-text);
  font-size: var(--text-lg);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-sm);
}
