.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
}

.button-group--center {
  justify-content: center;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 2.75rem;
  padding: var(--space-xs) var(--space-md);
  border: none;
  border-radius: var(--border-radius-md);
  font-weight: var(--font-weight-semibold);
  text-transform: uppercase;
  letter-spacing: 10%;
  line-height: 1;
  text-decoration: none;
}

.button--primary {
  background: var(--theme-button-primary-bg);
  color: var(--theme-button-primary-text);

  &:hover {
    background: var(--theme-button-primary-bg-hover);
  }
}

.button--secondary {
  border: 1px solid var(--theme-button-secondary-border);
  color: var(--theme-button-secondary-text);

  &:hover {
    background: var(--theme-button-secondary-bg-hover);
  }
}

.button--full-width {
  width: 100%;
}