<article class="section case-study">
  <div class="container container--sm">
    <header class="case-study__header">
      {{ if client_company }}
        <p class="case-study__meta">{{ client_company }}</p>
      {{ /if }}

      <h1 class="case-study__title">{{ title }}</h1>

      {{ if excerpt }}
        <p class="case-study__excerpt">{{ excerpt }}</p>
      {{ /if }}

      {{ if client_name || client_company }}
        <p class="case-study__client">
          {{ if client_name }}{{ client_name }}{{ /if }}{{ if client_name && client_company }}, {{ /if }}{{ if client_company }}{{ client_company }}{{ /if }}
        </p>
      {{ /if }}
    </header>

    {{ if featured_image }}
      {{ featured_image }}
        <figure class="case-study__figure">
          <img src="{{ url }}" alt="{{ alt ?? title }}" class="case-study__image">
        </figure>
      {{ /featured_image }}
    {{ /if }}

    {{ if content }}
      <div class="case-study__content prose">
        {{ content }}
          {{ if type == "text" }}
            <div class="case-study__text">
              {{ text }}
            </div>
          {{ else }}
            {{ partial src="blocks/{type}" }}
          {{ /if }}
        {{ /content }}
      </div>
    {{ /if }}
  </div>
</article>
