<section class="section blog-index">
  <div class="container">
    <div class="blog-index__header">
      <div class="blog-index__header-copy">
        {{ partial:section_intro_heading level="1" eyebrow="Blog Category" title="{term:title}" }}
        <p class="section-intro__description section-intro__description--large">Articles filed under {{ term:title | lower }}.</p>
      </div>

      {{ partial:category_select selected="{term:slug}" }}
    </div>

    {{ entries paginate="10" sort="date:desc" }}
      <div class="blog-index__grid">
        {{ results }}
          {{ partial:blog/card }}
        {{ /results }}
      </div>

      {{ paginate }}
        {{ if total_pages > 1 }}
          {{ partial:pagination summary_label="results" }}
        {{ /if }}
      {{ /paginate }}
    {{ /entries }}
  </div>
</section>
