// Article

.blog-article {
  padding-block-start: var(--section-block-padding);
  padding-inline: var(--section-inline-padding);
}

.blog-article__meta {
  color: var(--theme-text-muted);
  font-size: var(--text-md);
}

.blog-article__excerpt {
  color: var(--theme-text-muted);
  font-size: var(--text-lg);
}

.blog-article__image {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: var(--border-radius-lg);
  object-fit: cover;
}

.blog-article__header {
  display: grid;
  margin-inline: auto;
  gap: var(--space-sm);
  margin-bottom: var(--space-xl);
  text-align: center;
  max-width: 80ch;
}

.blog-article__featured-image {
  margin: 0 0 var(--space-xl);
}

.blog-article__content {
  ul, ol {
    padding-left: 1.5rem;
  }

  > * + *:not(.blog-article__text) {
    margin-block-start: var(--space-2xl);
  }

  > *:not(.blog-article__text) + .blog-article__text {
    margin-block-start: var(--space-2xl);
  }

  > .break {
    margin-block-start: var(--space-3xl);
  }

  > .break + .blog-article__text {
    margin-block-start: var(--space-3xl);
  }

  a {
    color: var(--theme-link);
  }

  a:hover {
    color: var(--theme-link-hover);
  }
}

.blog-article__text {
  margin-inline: auto;
  max-width: 56ch;
}

.blog-article__author {
  display: grid;
  gap: var(--space-lg);
  align-items: center;
  margin-inline: auto;
  margin-top: var(--space-2xl);
  padding: var(--space-lg);
  background: var(--theme-bg-surface);
  max-width: 56ch;
  border: 1px solid var(--theme-border-subtle);
  border-radius: var(--border-radius-lg);

  @media (width >= 560px) {
    grid-template-columns: auto 1fr;
  }
}

.blog-article__author-avatar {
  width: 6rem;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: var(--border-radius-circle);
  object-fit: cover;
  align-self: start;

  @media (width >= 768px) {
    width: 8rem;
  }
}

.blog-article__author-info {
  display: grid;
  gap: var(--space-2xs);
}

.blog-article__author-name {
  font-size: var(--text-lg);
}

.blog-article__author-bio {
  color: var(--theme-text-muted);
}
